.gallery-section {
  padding-bottom: 92px;
  background-image: url(../img/gallery/gallery-text-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 10px center;
  background-size: auto;

  @include media(desktop) {
    padding-bottom: 160px;
    background-image: url(../img/gallery/gallery-text-bg-desk.png);
    background-position: top 0px center;
  }
}

.gallery-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
    overflow: visible;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.gallery-swiper-container {
  max-width: 136px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  max-width: 136px;

  @include media(desktop) {
    max-width: 196px;
  }
}
