.hero-section {
  background: #fff;
  padding-top: 252px;
  padding-bottom: 319px;
  background-image: url(../img/hero/hero-candies-mob.png),
    url(../img/hero/hero-text-bg-mob.png), url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom center, top 171px center, top center;
  background-size: auto, auto, auto;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-top: 99px;
    padding-bottom: 362px;
    background-image: url(../img/hero/hero-candies-desk.png),
      url(../img/hero/hero-text-bg-desk.png), url(../img/hero/hero-bg-desk.jpg);
    background-position: bottom center, top 270px center, top center;
    max-width: 1440px;
  }
}

.hero-logo {
  display: none;

  @include media(desktop) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px;
  }
}

.hero-title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 253px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 40px;
    max-width: 545px;
  }
}

.hero-text {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 253px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    max-width: 545px;
  }
}
