.context-menu {
  display: none;
  padding-top: 14px;
  padding-bottom: 222px;
  background-image: url(../img/menu/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-container {
  max-width: 375px;
  margin: 0 auto;
}

.context-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}

.close-btn {
  display: none;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @include media(desktop) {
    display: none;
  }
}

.close-icon {
  stroke: #000;
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.context-list-link {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  transition: all 0.3s ease-in-out;

  &:active {
    font-weight: 700;
  }
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.is-open .close-btn {
  display: flex;
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
