.play-section {
  padding-bottom: 80px;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.play-title {
  margin-bottom: 72px;

  @include media(desktop) {
    margin-bottom: 65px;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 105px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}

.play-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.play-item-bg-img {
  position: absolute;
  z-index: -1;
}

.play-item-text-wrapper {
  max-width: 175px;

  @include media(desktop) {
    width: 202px;
    max-width: 202px;
  }
}

.play-item-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 11px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.play-item-text {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}
