<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">FAQ</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is Candy Quest free to play?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! You can play for free with optional in-app purchases.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Does it require internet?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            No, you can enjoy the game offline anytime.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How often are new levels added?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            New levels are added regularly with updates.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can kids play this game?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Absolutely! It’s colorful, safe, and family-friendly.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What are boosters and how do I earn them?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Boosters help you beat tough levels and are earned through gameplay
            or rewarded for progress.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
