<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container">
      <h2 class="section-title features-title">Key Features</h2>
      <ul class="features-list">
        <li class="features-list-item">
          <span class="features-item-ellipse"></span>
          <p class="features-item-text">Hundreds of colorful match-3 levels</p>
        </li>
        <li class="features-list-item">
          <span class="features-item-ellipse"></span>
          <p class="features-item-text">
            Sweet boosters and special candy combos
          </p>
        </li>
        <li class="features-list-item">
          <span class="features-item-ellipse"></span>
          <p class="features-item-text">Fun and casual gameplay</p>
        </li>
        <li class="features-list-item">
          <span class="features-item-ellipse"></span>
          <p class="features-item-text">Offline mode available</p>
        </li>
        <li class="features-list-item">
          <span class="features-item-ellipse"></span>
          <p class="features-item-text">Adorable candy-themed graphics</p>
        </li>
      </ul>
    </div>
    <img
      class="features-bg-img-mob"
      src="./img/features/features-bg-mob.png"
      alt="Background image"
      loading="lazy"
    />
    <img
      class="features-left-bg-img-mob"
      src="./img/features/features-left-bg-desk.png"
      alt="Background image"
      width="404"
      height="339"
      loading="lazy"
    />
    <img
      class="features-right-bg-img-mob"
      src="./img/features/features-right-bg-desk.png"
      alt="Background image"
      width="349"
      height="348"
      loading="lazy"
    />
  </div>
</section>
