<section class="section play-section" id="play">
  <h2 class="section-title play-title">How to Play</h2>
  <div class="play-section-wrapper">
    <div class="container play-container">
      <ul class="play-list">
        <li class="play-list-item">
          <img
            class="play-item-img"
            src="./img/play/play-candy-red.png"
            alt="Candy"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Swipe to Match</h3>
            <p class="play-item-text">Connect 3+ candies of the same color</p>
          </div>
        </li>
        <li class="play-list-item">
          <img
            class="play-item-img"
            src="./img/play/play-candy-pink.png"
            alt="Candy"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Complete Goals</h3>
            <p class="play-item-text">
              Collect targets before running out of moves
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <img
            class="play-item-img"
            src="./img/play/play-candy-yellow.png"
            alt="Candy"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Use Boosters</h3>
            <p class="play-item-text">Trigger candy bombs and rainbow blasts</p>
          </div>
        </li>
        <li class="play-list-item">
          <img
            class="play-item-img"
            src="./img/play/play-candy-purple.png"
            alt="Candy"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Unlock Worlds</h3>
            <p class="play-item-text">Progress through magical candy lands</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
